<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ClickDocTestSuite" parallel="tests" thread-count="2">
  <test name="LoginTest">
    <classes>
      <class name="com.cgm.clickdoc.testsuite.LoginTest"/>
    </classes>
  </test> <!-- LoginTest -->
  <test name="PhysicianSearchTest">
    <classes>
      <class name="com.cgm.clickdoc.testsuite.PhysicianSearchTest"/>
    </classes>
  </test> <!-- PhysicianSearchTest -->
</suite> <!-- ClickDocTestSuite -->
